<div class="container">
    <h2>Profile settings</h2>
    <form>
     <div class="col-md-6">
        <div class="profile-info">
            <h2>Profile photo</h2>
            <p>Formats: png, jpg, gif. Max size: 1 MB.</p>
        </div>
            <div class="profile-upload-container">
                <label for="profile-image" class="profile-image-label">
                    <img src="https://img.freepik.com/free-vector/illustration-businessman_53876-5856.jpg?w=1380&t=st=1707667792~exp=1707668392~hmac=3d8b7d02539462d60915c3da2736aca5765b89028fc40aa36ddb8f2716f9cf30" alt="Profile Image" class="profile-image">
                    <input type="file" id="profile-image" name="profileImage" accept="image/*" style="display: none;">
                </label>
                <span class="upload-button">Upload Image</span>
            </div>
  
            <div class="profile-info">
                <h2>Personal info</h2>
                <p>Your log-in credentials and the name that is displayed in reports.</p>
            </div>

        <div class="row mt-4">
            <div class="form-group">
                <label for="name">Name:</label>
                <input type="text" id="name" name="name" matInput required>
            </div>
  
            <div class="input-group mt-4">
                <input type="text" class="form-control" placeholder="khatrisonia566gmail" >
                <span class="input-group-text" id="basic-addon2">Change</span>
              </div>
 
      
        </div>


     <div class="mt-4">
        <input class="form-control" type="text" placeholder="Set Password" aria-label="Disabled input example" disabled>
     </div>

              
     </div>
              
        </form>


  </div>
  
