<div class="container">
    <h1 mat-dialog-title>Edit group</h1>
    <hr>
    <div mat-dialog-content>
        <form>
     
            <!-- Name Field -->
            <div class="form-group">
                <label for="name">Change Name:</label>
                <input type="text" id="name" name="name" matInput required>
            </div>
              
        </form>
    </div>

    <div mat-dialog-actions class="mat-dialog-actions">
        <button mat-dialog-close mat-raised-button color="warn" type="button">Cancel</button>
        <button mat-raised-button color="primary" type="submit">Create</button>
    </div>
</div>

