<div class="container">
    <h2>Time Sheet</h2>
    <div class="filter-container">
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
             Project
            </button>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </div>

          <div class="add-input-col">
            <div class="input-container">
              <input type="text" placeholder="Add Client...">
            </div>
          </div>
    
          <div class="button-col">
            <button type="submit" class="btn btn-primary">Add</button>
          </div>




  </div>

  

  <div class="container">
    <div class="row first">
        <div class="col-md-3">
            <h5>Project</h5>
          
        </div>
        <div class="col-md-1">
            <p class="col">Mo,Feb 13</p>
        </div>
        <div class="col-md-1">
            <p class="col">Tu,Feb 14</p>
        </div>
        <div class="col-md-1">
            <p class="col">We,Feb 15</p>
        </div>
        <div class="col-md-1">
            <p class="col">Th,Feb 16</p>
        </div>
        <div class="col-md-1">
            <p class="col">Th,Feb 16</p>
        </div>
        <div class="col-md-1">
            <p class="col">Fr,Feb 17</p>
        </div>
        <div class="col-md-1">
            <p class="col">Sa,Feb 18</p>
        </div>
        <div class="col-md-1">
            <p class="col">TOTAL</p>
        </div>
    </div>
    <div class="row second">
        <!-- First column takes up 30% -->
        <div class="col-md-3">
            <div class="dropdown">
                <button class="btn btn-secondary" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                 <span>+</span> Select Project
                </button>
                <ul class="dropdown-menu">
                    <div class="search-col">
                        <div class="search-container">
                          <i class="material-icons">search</i>
                          <input type="text" placeholder="Find by name...">
                        </div>
                      </div>
                  <li><a class="dropdown-item" href="#">Action</a></li>
                  <li><a class="dropdown-item" href="#">Another action</a></li>
                  <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
              </div>
        </div>
        <!-- Remaining 70% divided into 8 columns -->
        <div class="col-md-1">
            <input class="col" type="text">
        </div>
        <div class="col-md-1">
            <input class="col" type="text">
        </div>
        <div class="col-md-1">
            <input class="col" type="text">
        </div>
        <div class="col-md-1">
            <input class="col" type="text">
        </div>
        <div class="col-md-1">
            <input class="col" type="text">
        </div>
        <div class="col-md-1">
            <input class="col" type="text">
        </div>
        <div class="col-md-1">
            <input class="col" type="text">
        </div>
        <div class="col-md-1">
            <p class="col">TOTAL</p>
        </div>
    </div>
    <div class="row third">
        <!-- First column takes up 30% -->
        <div class="col-md-3">
            <h5>Project</h5>
        </div>
        <!-- Remaining 70% divided into 8 columns -->
        <div class="col-md-1">
            <p class="col">Mo,Feb 13</p>
        </div>
        <div class="col-md-1">
            <p class="col">Tu,Feb 14</p>
        </div>
        <div class="col-md-1">
            <p class="col">We,Feb 15</p>
        </div>
        <div class="col-md-1">
            <p class="col">Th,Feb 16</p>
        </div>
        <div class="col-md-1">
            <p class="col">Th,Feb 16</p>
        </div>
        <div class="col-md-1">
            <p class="col">Fr,Feb 17</p>
        </div>
        <div class="col-md-1">
            <p class="col">Sa,Feb 18</p>
        </div>
        <div class="col-md-1">
            <p class="col">TOTAL</p>
        </div>
    </div>
</div>

  

</div>
