
<div class="container">
    <div class="filter-container">


        <div class="search-col">
            <div class="search-container">
              <i class="material-icons">search</i>
              <input type="text" placeholder="Search by name...">
            </div>
          </div>


        <div class="dropdown">
            <button class="btn btn-secondary" type="button" data-bs-toggle="dropdown" aria-expanded="false">
              <span>+</span> Project
            </button>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </div>

        
          <div class="icon-col">
            <i class="material-icons">bookmark</i>
            <i class="material-icons">attach_money</i>
          </div>

          <span class="time-display">00:00:00</span>


          <div class="button-col">
            <button type="submit" class="btn btn-primary">START</button>
          </div>

          <div class="icon-col-last">
            <i class="fa fa-list"></i>
            <i class="fa fa-list"></i>
          </div>

  </div>
  
  
</div>




<div class="card" style="width: 400px;">
    <!-- Clock Image -->
    <img src="assets/8979524.jpg" alt="Clock" class="card-img-top mx-auto d-block mt-3" style="width: 120px;">
  
    <div class="card-body text-center">
      <h5 class="card-title">Let’s start tracking!</h5>
      <p class="card-text">Install Clockify and track time anywhere.</p>
    </div>
  
    <!-- Social Icons -->
    <div class="text-center">
      <p>50+ integrations</p>
      <div class="social-icons">
        <i class="fa fa-instagram"></i>
        <i class="fa fa-facebook"></i>
        <i class="fa fa-twitter"></i>
      </div>
    </div>
  </div>
  
