<div class="outer">
    <div class="container">
        <div class="row">
            <div class="offset-md-2 col-lg-5 col-md-7 offset-lg-4 offset-md-3">
                <div class="panel border bg-white">
                    <div class="panel-heading">
                        <h1 class="pt-3 font-weight-bold">CLOCKIFY</h1>
                    </div>
                    <div class="panel-body p-3">
                        <h3 class="text-center check-email">Check your email for a code</h3>
                       <form>
                        <label for="verificationCode" class="text-center verificationCode">Enter the verification code sent to: khatrisonia566gmail.com</label>
                        <div class="form-group">
                            <input type="text" class="form-control" id="verificationCode" maxlength="1" pattern="\d" required style="margin-right: 15px;">
                            <input type="text" class="form-control" id="verificationCode" maxlength="1" pattern="\d" required style="margin-right: 15px;">
                            <input type="text" class="form-control" id="verificationCode" maxlength="1" pattern="\d" required style="margin-right: 15px;">
                            <input type="text" class="form-control" id="verificationCode" maxlength="1" pattern="\d" required style="margin-right: 15px;">
                            <input type="text" class="form-control" id="verificationCode" maxlength="1" pattern="\d" required style="margin-right: 15px;">
                            <input type="text" class="form-control" id="verificationCode" maxlength="1" pattern="\d" required>
                        </div>
                    
                        <hr>
                        <p class=" resend-email">Can't find our email? Check your spam or <a href="#">resend email</a></p>
                       </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


    <!-- <div class="btn btn-group" role="group" aria-label="Email Options">
                            <a href="#" class="btn btn-secondary">Open Gmail</a>
                            <a href="#" class="btn btn-secondary">Open Outlook</a>
                        </div> -->
