<div class="outer">
    <div class="container">
        <div class="row">
            <div class="offset-md-2 col-lg-5 col-md-7 offset-lg-4 offset-md-3">
                <div class="panel border bg-white">
                    <div class="panel-heading">
                        <h3 class="pt-3 font-weight-bold">SIGN UP</h3>
                    </div>
                    <div class="panel-body p-3">
                       <form [formGroup]="signUpForm" (ngSubmit)="onSignup()">
                        <div class="form-group pt-3">
                            <div class="input-field" [class.error]="signUpForm.controls['email'].dirty && signUpForm.hasError('required', 'email')">
                                <span class="fa fa-envelope p-2"></span>
                                <input formControlName="email" type="text" placeholder="Email">
                            </div>
                        </div>
                        <small *ngIf="signUpForm.controls['email'].dirty && signUpForm.hasError('required', 'email')"  class="text-danger">*Email is required</small>
                             <small *ngIf="signUpForm.controls['email'].hasError('email')" class="text-danger">*Invalid Email</small>

                        <div class="form-group pt-3">
                            <div class="input-field" [class.error]="signUpForm.controls['password'].dirty && signUpForm.hasError('required', 'password')">
                                <span class="fa fa-lock p-2"></span>
                                <input formControlName="password" type="password" placeholder="Password">
                            </div>
                        </div>
                        <small *ngIf="signUpForm.controls['password'].dirty && signUpForm.hasError('required', 'password')" class="text-danger" class="text-danger">*Password is required</small>
                     
                        <button type="submit" class="btn btn-primary btn-block mt-4 w-100" (click)="onSignup()">SignUp</button>
                        <div class="text-center pt-4 text-muted">Already have an account ? <a routerLink="/login" id="forget">Login</a></div>
                       </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


